@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

header {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    
}

.header__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.header__button img {
    width: 30px;
}

header input {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #2a2a2a;
    color: #94b3b3;
    box-sizing: border-box;
    padding: 0 50px;
    outline: none;
    background-image: url('image/search.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px 20px;
    font-size: 14px;
}

.button--login {
    font-family: "Nunito", sans-serif;
    width: 130px;
    border-radius: 0;
    color: #000000;
    border-radius: 20px;
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
}

.img__logo {
    width: 50px;
    height: 50px;
}

h1 {
    color: #ccc;
    font-size: 20px;
}

header {
    display: grid;
    grid-template-columns: 10px 1fr;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

main {
    display: grid;
    grid-template-columns: 100px 10px 1fr;
    background-color: #000;
    width: 100%;
    height: calc(100vh - 80px); /* Ajusta la altura restando la del header */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.side-menu {
    background-color: #121212;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.main-content {
    border-radius: 10px;
    background-color: #121212;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    h1 {
        display: none;
    }
}

@media (max-width: 600px) {
    .img__logo {
        display: none;
    }

    header input {
        width: 261px;
    }
}


@media (max-width: 480px) {
    .header__button {
        display: none;
    }
    header input {
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }
}


@media (max-width: 400px) {
}