@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    background-color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Nunito", sans-serif;
}

.login-container {
    background-color: #121212;
    width: 500px;
    height: 550px;
    color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container img {
    width: 50px;
    height: 50px;
}

.login-container input, .login-container button {
    width: 100%;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #a1a1a1;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    border: 1px solid #232323;
    box-sizing: border-box;
    outline: none;
}

.login-container input {
    padding-left: 20px;
}

.login-container input:hover, .login-container input:focus {
    background-color: #1e1e1e;
    border-color: #2579ba;
    color: #fff;
}

.login-container button {
    background-color: #2579ba;
    color: #fff;
}

.login-container button:hover {
    background-color: #1e6aa8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container button:active {
    background-color: #145a86;
    transform: scale(0.98);
}

.login-container button:focus {
    outline: 2px solid #2579ba;
    outline-offset: 2px;
}

@media (max-width: 400px) {
    .login-container {
        width: 500px;
        height: 550px;
        padding: 15px;
        border-radius: 5px;
    }

    h1 {
        text-align: center;
    }

    .login-container input, .login-container button {
        width: 90%;
    }
}
